<div class="container" style="text-align: center">
  <h2 class="title">Built On Trust</h2>
  <img src="assets\images\life-preserver.svg" />
  <h2>HEALTHCARE STAFFING</h2>
  We excel at finding healthcare professionals to fill all your needs
  <br />
  <button class="btn btn-success" (click)="showDetailButton()">Find Out More</button>
  <div *ngIf="showDetail">
  <div class="container" style="text-align: left">
    <div class='title-about'>Holidays... Weekends... Three in the morning</div>
    <br>
    At Healthcare, we understand emergencies can't wait. That's why we are availalbe the minute you need us... 24 hours a day, 365 days a yer. Whether you are short-staffed around the holidays, or looking for a last minute fill-in. Healthcare has an on-call person ready to help.
  </div>
  </div>
</div>

<div class="info-tab">
  <div class="container">
    <h2>Your Staffing Solution</h2>
    One of the largest and most trusted full-service staffing solutions
    companies in the country providing quality staffing for all industry
    positions including receptionists, administrative assistants, general
    laborers and hospitality workers.
    <div class="row">
      <div class="col">
        <img
          style="margin-bottom: 15px"
          src="assets\images\bar-chart-steps.svg"
        /><br />
        <b class="bullet-title">Flexible Options</b><br />
        Short term, long term and direct placement contracts.
      </div>
      <div class="col">
        <img style="margin-bottom: 15px" src="assets\images\people.svg" /><br />
        <b class="bullet-title">Quality Candidates</b><br />
        Utilizing our thorough screening process, only the best and the
        brightest are presented to you!
      </div>
      <div class="col">
        <img
          style="margin-bottom: 15px"
          src="assets\images\list-check.svg"
        /><br />
        <b class="bullet-title">Customized Solutions</b><br />
        Our clients range from large organizations to small, locally owned
        businesses. We provide solutions tailored to your unique requirements.
      </div>
      <div class="col">
        <img
          style="margin-bottom: 15px"
          src="assets\images\layer-forward.svg"
        /><br />
        <b class="bullet-title">Industry Expertise</b><br />
        Our recruitment teams are specialists in their field and have placed
        thousands of workers.
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="title">About Us</h2>
  <br />
  Operating from strategic U.S. locations and headquartered in Winter Park,
  Florida, we are one of the largest and fastest growing healthcare
  staffing solutions providers in the nation. We are focused on recruiting the
  most talented healthcare professionals and providing a full array of managed
  staffing and home care services to meet the ever-increasing employment needs
  of our clients. We are one of the few companies that can provide quality
  temporary staff for all healthcare industry positions including local nurses,
  travel nurses, allied health, locum tenens and home care professionals. With a
  proven recruiting model, we have become one of the premier healthcare
  staffing companies in the country with one of the highest rates of employee
  retention in the industry.
</div>

<div class="container">
  <h2 class="title-contact">Contact Us</h2>
  Send an Email. All fields are required. <br>
  <div style="margin-right: 300px; text-align: right">
  <input type="text" placeholder="name"> <br><br>
  <input type="text" placeholder="email"> <br><br>
  <textarea placeholder="message" cols="23" rows="10"></textarea> <br><br>
  </div>
</div>
